[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/MathieuJMagri
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MathieuJMagri
	label-Verified = -1..+1 group user/MathieuJMagri
	push = group user/MathieuJMagri
	read = group user/MathieuJMagri
	rebase = group user/MathieuJMagri
	removeReviewer = group user/MathieuJMagri
	submit = group user/MathieuJMagri
[access "refs/heads/*"]
	create = group user/MathieuJMagri
	push = +force group user/MathieuJMagri
	pushMerge = group user/MathieuJMagri
	read = group user/MathieuJMagri
[access "refs/tags/*"]
	push = group user/MathieuJMagri
	push = +force group user/MathieuJMagri
